<html>
	<head>
		<title>Produtos</title>
	</head>
	<body>
		<h1>Lista de produtos</h1>
		<table border="1px">
			<tr>
				<th>id</th>
				<th>nome</th>
			</tr>
			<tr>
				<td>Livro de node js</td>
				<td>1</td>
			<tr>
		</table>
	</body>
</html>